{% extends "layout.html" %}

{% block content %}

<div id="times">
	<span class="label label-info">現在時刻</span>
	<span id="cur_time">00:00:00</span>
	<span class="label label-warning">残り時間</span>
	<span id="left_time">00:00:00</span>
</div>

<div id="results" class="clearfix">
	{% include "results.html" %}
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
	var deadline = new Date();
	deadline.setHours(19);
	deadline.setMinutes(0);
	deadline.setSeconds(0);
	var $cur_time = $("#cur_time");
	var $left_time = $("#left_time");
	
	function zeroPadding(str) {
		str = String(str);
		if (str.length >= 2) {
			return str;
		}
		return "0" + str;
	}
	function timeDiff(t1, t2) {
		var diff = Math.floor((t1.getTime() - t2.getTime()) / 1000);
		if (0 >= diff) {
			return "00:00:00";
		}
		var h = Math.floor(diff / 3600);
		var m = Math.floor(diff % 3600 / 60);
		var s = diff % 60;
		return zeroPadding(h) + ":" + zeroPadding(m) + ":" + zeroPadding(s);
	}
	function updateTime() {
		var now = new Date();
		$cur_time.text(zeroPadding(now.getHours()) + ":" + 
			zeroPadding(now.getMinutes()) + ":" + 
			zeroPadding(now.getSeconds()));
		$left_time.text(timeDiff(deadline, now));
	}
	
	updateTime();
	setInterval(updateTime, 5 * 1000);
	
	var $results = $("#results");
	setInterval(function(){
		$results.load("/", function(){
		});
	}, 30 * 1000);
});
</script>
{% endblock %}
